In [1]:
import numpy as np
import pandas as pd
import datetime

import pytest

from Outcomes import outcomes
from SEIR.utils import config
import pandas as pd
import numpy as np
import datetime
import matplotlib.pyplot as plt
import glob, os, sys
from pathlib import Path
#import seaborn as sns
import pyarrow.parquet as pq
import click
import pyarrow as pa

import os

In [9]:
seir = pq.read_table("model_output/seir/Maryland/inference/2020.08.20.12:11:11.UTC/000000003.2020.08.20.12:11:11.UTC.seir.parquet").to_pandas()
seir

,comp,p_comp,51091,51720,51017,51045,42023,51595,51580,51515,...,42091,34023,24005,24033,34003,24031,51059,42003,42101,time
0,S,0.0,2395.0,3886.0,4779.0,5173.0,5197.0,5822.0,5989.0,6177.0,...,790497.0,798882.0,799195.0,854722.0,896482.0,947230.0,1048554.0,1223066.0,1504950.0,2020-01-31
1,E,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2020-01-31
2,I1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2020-01-31
3,I2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2020-01-31
4,I3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2020-01-31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2195,I2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2020-10-31
2196,I3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,5.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,2020-10-31
2197,R,0.0,55.0,37.0,0.0,112.0,80.0,299.0,66.0,0.0,...,2381.0,781.0,628.0,626.0,987.0,558.0,353.0,680.0,263.0,2020-10-31
2198,cumI,0.0,55.0,37.0,0.0,112.0,80.0,299.0,66.0,0.0,...,2392.0,781.0,629.0,626.0,987.0,558.0,353.0,680.0,263.0,2020-10-31
2199,diffI,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2020-10-31

In [2]:
diffI, places, dates = outcomes.read_seir_sim('2020.08.20.12:11:11.UTC', 'Maryland/inference/2020.08.20.12:11:11.UTC/', 3)

In [3]:
places

Index(['51091', '51720', '51017', '51045', '42023', '51595', '51580', '51515',
       '42113', '51530',
       ...
       '34013', '42091', '34023', '24005', '24033', '34003', '24031', '51059',
       '42003', '42101'],
      dtype='object', length=250)

In [15]:
diffI = seir[seir['comp'] == 'diffI']
diffI

,comp,p_comp,51091,51720,51017,51045,42023,51595,51580,51515,...,42091,34023,24005,24033,34003,24031,51059,42003,42101,time
7,diffI,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2020-01-31
15,diffI,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2020-02-01
23,diffI,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2020-02-02
31,diffI,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2020-02-03
39,diffI,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2020-02-04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2167,diffI,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,7.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2020-10-27
2175,diffI,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2020-10-28
2183,diffI,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2020-10-29
2191,diffI,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2020-10-30
2199,diffI,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2020-10-31

In [4]:
pd.melt(diffI, id_vars=['time', 'p_comp'], value_name='incidI', var_name='geoid')

            time  p_comp  geoid  incidI
0     2020-01-31     0.0  51091     0.0
1     2020-02-01     0.0  51091     0.0
2     2020-02-02     0.0  51091     0.0
3     2020-02-03     0.0  51091     0.0
4     2020-02-04     0.0  51091     0.0
...          ...     ...    ...     ...
68745 2020-10-27     0.0  42101     0.0
68746 2020-10-28     0.0  42101     0.0
68747 2020-10-29     0.0  42101     0.0
68748 2020-10-30     0.0  42101     0.0
68749 2020-10-31     0.0  42101     0.0

[68750 rows x 4 columns]

,comp,p_comp,51091,51720,51017,51045,42023,51595,51580,51515,...,42091,34023,24005,24033,34003,24031,51059,42003,42101,time
0,S,0.0,2395.0,3886.0,4779.0,5173.0,5197.0,5822.0,5989.0,6177.0,...,790497.0,798882.0,799195.0,854722.0,896482.0,947230.0,1048554.0,1223066.0,1504950.0,2020-01-31
1,E,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2020-01-31
2,I1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2020-01-31
3,I2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2020-01-31
4,I3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2020-01-31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2195,I2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2020-10-31
2196,I3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,5.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,2020-10-31
2197,R,0.0,55.0,37.0,0.0,112.0,80.0,299.0,66.0,0.0,...,2381.0,781.0,628.0,626.0,987.0,558.0,353.0,680.0,263.0,2020-10-31
2198,cumI,0.0,55.0,37.0,0.0,112.0,80.0,299.0,66.0,0.0,...,2392.0,781.0,629.0,626.0,987.0,558.0,353.0,680.0,263.0,2020-10-31
2199,diffI,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2020-10-31

In [5]:
old_hpar = pq.read_table("model_output/hosp/Maryland/inference/med/2020.08.20.12:11:11.UTC/000000003.2020.08.20.12:11:11.UTC.hosp.parquet").to_pandas()
old_hpar

,time,p_comp,geoid,incidI,incidH,hosp_curr,incidD,incidICU,icu_curr,incidVent,vent_curr,incidC
0,2020-01-31,0.0,51091,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2020-02-01,0.0,51091,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2020-02-02,0.0,51091,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2020-02-03,0.0,51091,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2020-02-04,0.0,51091,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
68745,2020-10-27,0.0,42101,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
68746,2020-10-28,0.0,42101,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
68747,2020-10-29,0.0,42101,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
68748,2020-10-30,0.0,42101,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
68749,2020-10-31,0.0,42101,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [6]:
old_snpi = pq.read_table("model_output/snpi/Maryland/inference/2020.08.20.12:11:11.UTC/000000001.2020.08.20.12:11:11.UTC.snpi.parquet").to_pandas()
old_snpi

,geoid,npi_name,parameter,start_date,end_date,reduction
0,51720,local_variance,r0,"2020-04-15,2020-05-15,2020-05-15","2020-04-20,2020-05-20,2020-05-20",0.537480
1,51017,local_variance,r0,"2020-04-01,2020-05-01","2020-04-15,2020-05-15",0.452578
2,42023,local_variance,r0,"2020-04-15,2020-05-15,2020-05-15","2020-04-20,2020-05-20,2020-05-20",0.522928
3,51720,local_variance2,r0,2020-04-15,2020-05-01,0.000000
4,42023,local_variance2,r0,2020-04-15,2020-05-01,0.000000
...,...,...,...,...,...,...
500,34003,Place2,r0,"2020-04-01,2020-05-01","2020-04-15,2020-05-15",0.187337
501,24031,Place2,r0,"2020-04-01,2020-05-01","2020-04-15,2020-05-15",0.220063
502,51059,Place2,r0,"2020-04-01,2020-05-01","2020-04-15,2020-05-15",0.187182
503,42003,Place2,r0,"2020-04-01,2020-05-01","2020-04-15,2020-05-15",0.263901
504,42101,Place2,r0,"2020-04-01,2020-05-01","2020-04-15,2020-05-15",0.160752

# Update tests

In [18]:
seir = pq.read_table("../COVIDScenarioPipeline/Outcomes/test/model_output/seir/000000001.12.seir.parquet").to_pandas()
seir['p_comp'] = 0
out_df = pa.Table.from_pandas(seir, preserve_index=False)
pa.parquet.write_table(out_df, "../COVIDScenarioPipeline/Outcomes/test/model_output/seir/000000001.12.seir.parquet")
pq.read_table("../COVIDScenarioPipeline/Outcomes/test/model_output/seir/000000001.12.seir.parquet").to_pandas()

      comp  15005  15007  15009  15001  15003       time  p_comp
0        S      0      0      0      0      0 2020-04-01       0
1        E      0      0      0      0      0 2020-04-01       0
2       I1      0      0      0      0      0 2020-04-01       0
3       I2      0      0      0      0      0 2020-04-01       0
4       I3      0      0      0      0      0 2020-04-01       0
..     ...    ...    ...    ...    ...    ...        ...     ...
355     I2      0      0      0      0      0 2020-05-15       0
356     I3      0      0      0      0      0 2020-05-15       0
357      R      0      0      0      0      0 2020-05-15       0
358   cumI      0      0      0      0      0 2020-05-15       0
359  diffI      0      0      0      0      0 2020-05-15       0

[360 rows x 8 columns]

In [13]:
≈

In [14]:
seir

      comp  15005  15007  15009  15001  15003       time  p_comp
0        S      0      0      0      0      0 2020-04-01       0
1        E      0      0      0      0      0 2020-04-01       0
2       I1      0      0      0      0      0 2020-04-01       0
3       I2      0      0      0      0      0 2020-04-01       0
4       I3      0      0      0      0      0 2020-04-01       0
..     ...    ...    ...    ...    ...    ...        ...     ...
355     I2      0      0      0      0      0 2020-05-15       0
356     I3      0      0      0      0      0 2020-05-15       0
357      R      0      0      0      0      0 2020-05-15       0
358   cumI      0      0      0      0      0 2020-05-15       0
359  diffI      0      0      0      0      0 2020-05-15       0

[360 rows x 8 columns]

In [81]:
b = np.repeat(a[:,np.newaxis], 5, axis = 1)
b

array([[ 2,  2,  2,  2,  2],
       [45, 45, 45, 45, 45],
       [49, 49, 49, 49, 49]])