In [4]:
import pandas as pd
import glob, os, sys
from pathlib import Path
import pyarrow.parquet as pq
import pyarrow as pa
import numpy as np
import datetime
import multiprocessing
import pathlib
import time
from COVIDScenarioPipeline.SEIR.utils import config
import click
import matplotlib.pyplot as plt

from COVIDScenarioPipeline.SEIR import  setup
from COVIDScenarioPipeline.SEIR.utils import config
from COVIDScenarioPipeline.SEIR.profile import profile_options

#config.set_file(config_path)

config.set_file('config_unperturbed_filtering.yml')

spatial_config = config["spatial_setup"]
spatial_base_path = pathlib.Path(spatial_config["base_path"].get())
scenario = 'LockdownUK_firstcase_5x'
spatial_setup=setup.SpatialSetup(
                            setup_name=spatial_config["setup_name"].get(),
                            geodata_file=spatial_base_path / spatial_config["geodata"].get(),
                            mobility_file=spatial_base_path / spatial_config["mobility"].get(),
                            popnodes_key=spatial_config["popnodes"].get(),
                            nodenames_key=spatial_config["nodenames"].get())

/usr/local/lib/python3.7/site-packages/scipy/sparse/_index.py:84: SparseEfficiencyWarning: Changing the sparsity structure of a csr_matrix is expensive. lil_matrix is more efficient.
  self._set_intXint(row, col, x.flat[0])

In [ ]:
self.mobility = scipy.sparse.csr_matrix((self.nnodes, self.nnodes))
for index, row in mobility_data.iterrows():
    self.mobility[self.nodenames.index(row['ori']),self.nodenames.index(row['dest'])] = row['amount']
    if (self.nodenames.index(row['ori']) == self.nodenames.index(row['dest'])):
        raise ValueError(f"Mobility fluxes with same origin and destination: '{row['ori']}' to {row['dest']} in long form matrix. This is not supported")

In [10]:
spatial_setup.mobility.indices.shape  # Columns for each data

(165404,)

In [12]:
spatial_setup.mobility.data.shape    # Data

(165404,)

In [9]:
spatial_setup.mobility.indptr.shape  #

(3144,)

In [13]:
mobility_data = pd.read_csv(spatial_base_path / spatial_config["mobility"].get(), converters={'ori': lambda x: str(x), 'dest': lambda x: str(x)})

In [35]:
mobility_data

          ori   dest  amount
0       01001  01007      10
1       01001  01015      10
2       01001  01021     383
3       01001  01047     271
4       01001  01051    1624
...       ...    ...     ...
206953  56005  56045      54
206954  56011  56045      29
206955  56019  56045       4
206956  56025  56045      15
206957  56027  56045      15

[206958 rows x 3 columns]

In [39]:
name_to_ind = lambda x: spatial_setup.nodenames.index(x)
mobility_data['ori'] = mobility_data['ori'].apply(name_to_ind)
mobility_data['dest'] = mobility_data['dest'].apply(name_to_ind)

In [40]:
mobility_data

         ori  dest  amount
0       2218  1446      10
1       2218  2637      10
2       2218  2046     383
3       2218  2066     271
4       2218  2451    1624
...      ...   ...     ...
206953  2050   465      54
206954   436   465      29
206955   557   465       4
206956  2417   465      15
206957   126   465      15

[206958 rows x 3 columns]